*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  
  
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,500;1,400;1,700&display=swap');
:root{
  --light: #7a7873;
  --black: #242424;
}
body{
  background-color: var(--background-color);
  transition:  0.3s ease-in-out;
}
body.dark{

  /*background-color: #b6b6b6;*/
  --background-color: var(--black);

}
body.light{
  --background-color: var(--light);

}

::selection{
  background:#504e4ec0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


::-webkit-scrollbar-thumb {
  background: #414141; 
  border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
  background: #f0dcae;; 
}

html {
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #757575;

}
#darkMode {
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
}

a{
  color: #f0dcae;
  text-decoration: none;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


img {
  height: 100%;
  width: 100%;
}
.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.containerStyles{
  
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  max-width: 1500px;
  height: 600px;
  margin:0 auto;

}
.slideStyles{
  box-shadow:  0 0 1000px black inset;
}
.slides__info{

  -webkit-text-stroke: 0.3px #a79a9a;
  border-radius: 20px;
  padding: 20px;
  color:#f0dcae;
  text-shadow: 0 0 5px #242424;
  position: absolute;
  top:90%;
  Transform: translate(0,-80%);
  overflow: auto;
}

.slides__but{
  border: none;
  background-color:#24242400;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.267);
  color:#f0dcae;
  font-weight: 800;
  cursor: pointer;
  height: 40px;
  width: 130px;
  border-radius: 20px;
  
}
.slides__para{
  margin: 20px 0;
  font-size: 25px;
  width: 700px;
}

.dotsContainerStyles{
  display: flex;
  position: absolute;
  top:95%;
  left: 50%;
  Transform: translate(-50%,-50%);
}

.logo{
  width: 100px;
  height: 100px;
  margin: auto 0;

}
.logo__name{
  display: flex;
  align-items: center;
  margin: auto 0;
  color: #f0dcae;
  -webkit-text-stroke: 0.3px #a79a9a;
  text-align: justify;
}
.name:hover{
  scale: 1.1;
}
.logo:hover{
  scale: 1.1;

}
ul {
  display: flex;
  color: #f0dcae;
}

li {
  list-style-type: none;
}
.nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  padding: 8px;
  rotate: 180deg;
  cursor: pointer;
  
}
#darkMode{
  border: none;
  color: #f0dcae;
  background-color: transparent;
  font-size: 24px;
}

.nav__link :hover, .link:hover{
  scale: 1.1;

}
.nav__icon--1{
  margin-right: 30px;
}

.nav__search{
  background-color: #f0dcae;
  width: 100%;
  max-width: 500px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
input{
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}
input:focus{
  outline: none;
}
.search__icon{
  cursor: pointer;
  margin-right: 20px;
}
.search__icon:active{
  scale: 1.1;
}

.movie{
  color:#f0dcae;
  
}
.search__movie__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  

}
.row{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  border: 1px solid white;
}
.movie__img{
  height: 300px;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: -10px;
  border: 8px double #f0dcae;
  box-shadow: 0 0 10px #f0dcae;
  transition: all 300ms ease;
}

.movies__img{
  overflow:hidden;
  height: 300px;
  width: 200px;
  margin-right: 40px;
  margin-bottom: 20px;
  border: 8px double #f0dcae;
  box-shadow: 0 0 10px #f0dcae;
  transition: all 300ms ease;
}
.movies__img:hover, .movie__img:hover, .leftArrowStyles:active, .rightArrowStyles:active, .dotStyles:active, .slides__but:active{
  scale: 1.1;
}

.section__title{
  color: #f0dcae;
  -webkit-text-stroke: 0.3px #ffffff75;
  margin: 120px 0 0 0 ;

}
.fea_{
  font-size: 30px;
  font-weight: 900;
  text-shadow: 0 0 10px #f0dcae;
}
.fea__title{
  font-size: 30px;
  margin: 50px 0;
  text-shadow: 0 0 10px #f0dcae;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__container{
  width: 100%;
  background-image: url(./assets/144563.jpg);
  background-position: center;
  background-size: auto;
  box-shadow: 50px 50px 1000px 100px black inset;
}
.movie__container{
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.sec__title{
  text-align: left;
  font-size: 50px;
  color: white;
  font-weight: 100;
  width: 100%;
  max-width: 1200px;
  margin: 25px auto;
  
}
.movie__list{
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  align-items: center;
  height: 400px;
}
.movie{
position: relative;
transition: transform 0.2s;
}
.movie:hover{
  cursor: pointer;
}
.overlay{
position: absolute;
background:hsla(39, 20%, 35%, 0.8);
width: 100%;
height: 100%;
transition: .5s ease;
opacity: 0;
font-size: 20px;
top: 0;
right: 0;
text-align: center;

}
.overlay__img{
  height: 150px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.overlay__title{
  font-size: 18px;
  margin-bottom: 10px;
}
.overlay__year, .overlay__type{
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 5px;


}
.movie__img:hover .overlay{
opacity: 1;
}
.movies__img:hover .overlay{
  opacity: 1;
}
.movies{
  width: 100%;
  max-width: 1200px;
}
.sub__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1920px;
}


.link{
  margin-left: 20px;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}
.links{
  height: 200px;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}
.wallpaper{
  background-image:url(./assets/bt.png);
  background-size:contain;
  background-position: 505px;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1200px;
  height: 500px;
  filter: brightness(-5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -60px;

}

.main__description{
  color: aliceblue;
  font-weight: 400;
  font-size: 25px;
}
.logo_name{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #f0dcae;
  -webkit-text-stroke: 0.3px #a79a9a;
  text-align: justify;
  font-weight: bold;
}

.search{
  background-color: #f0dcae;
  width: 100%;
  max-width: 500px;
  height: 50px;
  border-radius: 20px;
  margin-left: 20px;
  box-shadow: 0 0 50px #24242457;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yellow{
  color: #f0dcae;
  -webkit-text-stroke: 0.3px #a79a9a;
  font-weight: bold;
}
.info{
  margin: 30px 0 0 30px;
  text-align:left;
  width: 100%;
  max-width: 500px;
}
.footer{
  display: flex;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;

  z-index: 0;
}
.footer__copyright{
  margin-top: -50px;
  color: white;
}

.searchMovies{
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  font-size: 50px;
  color: aqua;
  border: 1px solid white;
}

@media (max-width: 1100px){
.wallpaper{
  background-position-x: 400px;

}
}
@media (max-width: 960px){
  .wallpaper{
    background-position-x: 300px;
  
  }
}
@media (max-width: 780px){
  .wallpaper{
    background-position-x: 200px;
  
  }
}

